{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="bg-dark">
<div class="text-light banner">
<br>
  <div class="container-fluid col-lg-6 col-md-6 bg-outline-success rounded border border-success p-3">
  <h4 class="text-center border border-success p-3 bg-success text-light">Register</h4>
  <form method="post" class="col-lg-10 col-md-10 m-auto" action="/home/signup/">
    <p class="text-light text-center bg-danger">Username is your bldg_wing_room no. (Eg. KG_B_201)</p>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Sign Up" class="btn btn-outline-success">
  </form>
  </div>
<div>
</div>
{% endblock %}